
/* start home page  */
/* loading */
#loading{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:9999;
  background-color:#fff; 
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 250px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* Navbar */
.navbar-brand span {
    font-size: 40px;
    color: #08526d; 
    color: #333;
  }
  
  .navbar-brand span:last-of-type,
  .navbar .navbar-nav .nav-item .nav-link.active {
    color: #ec1d24;
  }
  
  .navbar .navbar-toggler-icon {
    width: 1.3em;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    color: #333;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #ec1d24;
    transition: all 0.3s ease-in-out;  
  }  

  
#btnUp{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999; 
  display: none;
}
  
  /* Slider */

  #mainSlider{
    height: 100vh ;
  }
  .carousel h1 {
    top: 50%;
    left: 5%;
    z-index: 3 !important;
    transform: translate(0, -50%);
    font-size: 65px;
    color: #f8f9fa;
  }
  
  @media (max-width: 575px) {
    .carousel h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .carousel h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      width: 100%;
    }
  }
  .carousel .overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
/* about */ 
#about  h4 ,#blog h2 , #contact h2 {
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}
#about img  {
   width: 100%; 
} 
.shadow{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
} 
#about p{
  line-height: 30px;
} 
/* Services */
#services {
  background-color: #f1f1f1;
}
#services .card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#services .card:hover {
  box-shadow: 0 0 15px #bbb;
}

#services .card:hover .card-link {
  color: #ec1d24;
}

#services .card .card-title {
  font-size: 20px;
}

#services .card .card-link,
#services .card .card-title {
  color: #08526d;
}
#services a{
  text-decoration: none;
}
/* portflio */

#portfolio h4 {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

#portfolio .nav-pills .nav-link.active {
    background-color: #d8d8d8;
}

.nav-pills .nav-link {
    color: black;
    border-radius: 30px;
}

#portfolio .layer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .5s;
}

#portfolio .layer .layer-content {
    transform: translatey(150%);
    transition: .5s;
}

#portfolio .works-item:hover .layer {
    opacity: 1;
}

#portfolio .works-item:hover .layer-content {
    transform: translateY(0);
}

#portfolio .works-item:hover img {
    transform: scale(1.1);
}

#portfolio .works-item img {
    transition: .5s;
}

#portfolio .works-item {
    overflow: hidden;
} 

/* -------- posts/blog------- */
.posts .card {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .posts .card:hover {
    box-shadow: 0 0 15px #bbb;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .posts .card {
      max-width: 96% !important;
      margin: auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .posts .card:not(:last-of-type) {
      max-width: 48% !important;
      margin: auto;
      max-height: 539px;
    }
  }
  
  @media (min-width: 992px) {
    .posts .card {
      max-width: 31.33333% !important;
      max-height: 539px;
    }
    .posts .card:not(:last-of-type) {
      margin-right: 1%;
      margin-left: 1%;
    }
  }
  
  .posts .card:hover .card-link {
    color: #ec1d24;
  }
  
  .posts .card .card-title {
    font-size: 20px;
  }
  
  .posts .card .card-link,
  .posts .card .card-title {
    color: #08526d;
  }

/*-------------- contact------------ */
  .contact form {
    overflow: hidden;
    width: 800px;
    margin: auto;
  } 
  .contact form .left {
    float: left;
    width: 49%;
  }
  .contact form .right {
    float: right;
    width: 49%;
  }
  .contact form input,
  .contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #f6f6f6;
  }
  
  .contact form input:focus,
  .contact form textarea:focus {
    outline: 1px solid var(--primaryColor);
  }
  
  .contact form input {
    height: 40px;
  }
  
  .contact form textarea {
    resize: none;
    height: 150px;
  }
  
  .contact form input[type="submit"] {
    background-color: var(--primaryColor);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #f8f9fa;
  } 
  
/* Testimonial */

#testimonial {
  min-height: 300px;
  max-height: 300px;
}
/* Footer */

.footer h3,
.footer ul li,
.footer i {
  color: #08526d;
}
.footer .m{
  color: #08526d;
}

.footer p {
  line-height: 1.9;
  letter-spacing: 1px;
  font-size: 95%;
}

.footer ul li {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footer ul li:hover {
  color: #ec1d24;
}

/* Copyright */

.copyright  a:hover {
  text-decoration: none
}

.copyright,
.copyright i {
  color: #08526d;
}

.copyright i {
  transition: all 0.2s ease-in-out;
  padding: 15px 8px;
  font-size: 20px;
}

.copyright i:hover {
  color: #ec1d24;
}
 /* End Home page  */

/* interior page  */ 
#headphoto{
  background-image: url("../images/services9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  max-height: 200px;
} 
#interiorDetail .interior{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#interiorDetail .interior:hover{
  box-shadow: 0 0 15px #bbb;
}
.text span {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  animation: zoomup 3s ease infinite;
  animation-delay: calc(100ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #08526d;
    filter: blur(0.5px);
      text-shadow: 0 0 10px #D2691E, 0 0 20px #D2691E, 0 0 30px #D2691E,
      0 0 40px #D2691E, 0 0 50px #D2691E, 0 0 60px #D2691E;
  }

  50% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}
/* End interior page  */





